///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
//------------------------------------------------------------

.u-dnone {
  display: none;
}

.u-center {
  text-align: center;
}

.u-mcenter {
  margin-left: auto;
  margin-right: auto;
}

.u-mbot38 {
  margin-bottom: 38px;
}