/* layout
------------------------------------------------------------*/
body {
  // font-family: $main-fonts;
  // color: #fff;
  // font-weight: 400;

  background-color: #09052a;
  overflow-x: unset;
  color: #f8f8f8;

  &.is-active {
    overflow: hidden;
  }
}

//-------------------------------------------------------
.l-container {
  max-width: 1410px;
  margin: 0 auto;

  &--1 {
    max-width: 1418px;

    @include mq(xxl, max) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include mq(md, max) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}