#page-banner-about {
    align-items: center;
    background-image: url("./../img/about/about-bg.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#page-banner-program {
    align-items: center;
    background-image: url("./../img/chuong-trinh/promotion-bg.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}