/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn {
  background: #DC2219;
  border-radius: 99px;

  &--report {
    width: 301px;
    margin-top: 28px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;

    a {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      display: flex;
      gap: 10px;
    }
  }
}