.c-tab {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  &__link {
    height: 32px;
    line-height: 32px;
    text-align: center;
    padding: 0 24px;
    border: unset;
    background-color: unset;
    cursor: pointer;
    color: #fff;
    margin: 0 5px;
    font-weight: 700;
    font-size: 1.4rem;

    &.is-active {
      background: #dc2219;
      border-radius: 100px;
    }
  }
}
