.c-load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 128px;
    height: 36px;
    border: 2px solid #E5E5E5;
    border-radius: 90px;
    font-weight: 700;
    font-size: 14px;
}